<div class='dreams'>
  <div class='dreams-info-container'>
    <h3><%= @dream.title%> by <%= @dream.user.user_name %>, <%= @dream.created_at.strftime("%m-%d-%Y") %></h3>

    <p><%= @dream.body %></p>

    <ul>
      <li><strong>Analysis:</strong>
      <%= @dream.analysis %></li><br>
      <li><strong>Dream Categories:</strong>
          <% @dream.categories.each do |category| %>
            <%= link_to category.name, category_path(category) %>&nbsp;&nbsp;
          <% end %></li>
    </ul><br>

    <h3>Discussion</h3>
    <%= render partial: "comment", collection: @dream.comments.reverse.drop(1) %>

    <% if @dream.comments.count == 0 && current_user %>
      <%= render partial: "comments/form" %>
    <% elsif current_user %>
      <%= render partial: "comments/form" %>
    <% end %>
  </div>

  <div class="dreams-image-container">
    <%=image_tag("brain_tree.png", alt: "tree branches inside of a brain", id:"dreams-image") %>
  </div>
</div>
