<div class='home'>
  <div class='home-content-container'>
    <h3>Sign up below</h3>
    
    <%= form_for(@user) do |f| %>
      <%= f.label :user_name %>
      <%= f.text_field :user_name %><br><br>

      <%= f.label :email %>
      <%= f.text_field :email %><br><br>

      <%= f.label :password %>
      <%= f.text_field :password %><br><br>

      <%= f.submit('Sign up now')%>
    <% end %>
  </div>

  <div class="home-image-container">
    <%=image_tag("japanese_maple.png", alt: "japanese maple", id:"home-image") %>
  </div>
</div>
