<!DOCTYPE html>
<html>
  <head>
    <title>DreamJournal</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div><%= link_to 'Categories', categories_path %></div>
      <div><%= link_to 'Contributors', users_path %></div>
      <%= link_to image_tag("gryphon.png", alt: "gryphon", :id => 'nav-image'), '/' %>
      <div><%= link_to 'Add Dream', new_dream_path %></div>
      <div>Inspirations</div>
    </nav>

    <p class="flash"><%= flash.notice %></p>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Email us:&nbsp;&nbsp;&nbsp;<a id='footer-link' href="mailto:fakeaddress@gmail.com">andrew@DreamJournal.com<a></p>
    </footer>
  </body>
</html>
